<div class="container">
  <h1><p><%= @publisher.name %></p></h1>

  <ul class="many">
    <% @books.each do |b| %>
      <li>
        <%= b.title %>
        <a href="/books/<%= b.id %>/edit">Edit</a>
        <a href="/books/<%= b.id %>">View</a>
      </li>
    <% end %>
  </ul>
</div>