<h1>#Confirm_Create</h1>


<% if @new_book.valid? %>
  <div id="new_book">
    New Book Created:<br>
    ID: <%= @new_book.id %><br>
    Title: <%= @new_book.title %><br>
    Rating: <%= @new_book.rating %><br>
  </div>
<% else %>
  <div id="error_msg">
    <%= @error_message %><br>
  </div>
<% end %>

<br><a href="list">Index</a>

