<form action="/books/new" method="post">
  Title:<br>
  <input type="text" name="title"><br>
  Rating:<br>
  <input type="radio" name="rating" value="Great">Great<br>
  <input type="radio" name="rating" value="Good">Good<br>
  <input type="radio" name="rating" value="Mediocre">Mediocre<br>
  <input type="radio" name="rating" value="Poor">Poor<br>

  <input type="submit">
</form>